html {
  height: 100%;
}
body {
  background: #ffffff;
  margin: 0;
  padding: 0;
  font-family : Arial;
  font-size : 16px;
  color : #000000;
  font-weight: normal;
  height: 100%;
  position: relative;
}
h1 {
  font-size : 22px;
  font-weight: normal;
  border-bottom: 1px solid #cccccc;
}
h2 {
  margin: 0 0 5px 0;
  font-size : 17px;
  font-weight: normal;
  border-bottom: 1px solid #cccccc;
}
h3 {
  margin: 0 0 5px 0;
  font-size : 14px;
  font-weight: normal;
  border-bottom: 1px solid #cccccc;
}
.statistics-table{
  font-size: 14px;
}
table.statistics-table td, table.statistics-table th{
  padding: .5rem;
}
.flex{
  display: flex;
  justify-content: space-between;
}
#alert-message{
  display: none;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 20px;
}

.adminheader {
  width: 100%;
  background: url('/admin/img/bg_line2.gif') 0 0 repeat-x;
  height: 30px;
  text-align:center;
}
.adminheaderhome {
  float: left;
  margin: 2px 0 0 10px;
}
.adminheader P{
  font-family : Arial;
  margin: 0;
  padding-top: 5px;
  font-size: 15px;
  color: #fefefe;
  font-weight: bold;
}
.adminheader P A{
  color: #fefefe;
}
.adminfooter {
  background: #044040;
  padding: 7px;
  text-align:center;
  bottom: 0;
  color: #ffffff;
}
.adminmaincontent {
  position: relative;
  min-height: 100vh;
  background: #e6eaed;
  min-width: 100%;
}
section.open_user_list{
  text-align: right;
  padding-right: 65px;
}
.adminmaincontentleft {
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  background: #b0bec7;
  float:left;
  width:200px;
  position: absolute;
  border-right: 2px solid #cecece; 
  -webkit-box-shadow: 2px 2px 5px 0px #cecece;
  -moz-box-shadow: 2px 2px 5px 0px #cecece;
  box-shadow: 2px 2px 5px 0px #cecece;
}
.adminmenu {
  flex: 1;
}
.adminmaincontentright {
  margin-left:202px;
  min-height: 100%;
}
.adminmaincontentall {
  padding: 10px;
}
a{
  color : #090a90;
}
a:hover {color: #DB2929;}

button {
  border: 1px; border-color: lightblue;
}
select, input[type=text], input[type=password]  {
  border: 1px solid #999999;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 25px;

}
textarea {
  border: 1px solid #999999;
  width: 99%;
  height: 120px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
input.razdelcnt {
  width: 35px;
  text-align: center;
}

.site_list{
  font-size: 14px;
}

table.site_list td, table.site_list th{
  padding: .5rem;
}

form {
	margin: 0;
}

.user_statistic{
  font-size: 14px;
}

.table_menu {
      border-width: 0 0 0 0;
      border-style: solid;
      border-color: #8698BB;
      padding: 3 3 3 3;
}
.table_menu_pic {
      border-width: 0 0 0 0;
      border-style: solid;
      border-color: #8698BB;
      padding: 3 0 3 3;
}


.spacer_bg1 {
    background-image: URL(../admin/img/spacer_bg1.gif);
    background-position: center;
    background-repeat: repeat-x; 
}

.spacer_bg2 {
    background-image: URL(../admin/img/spacer_bg2.gif);
    background-position: center;
    background-repeat: repeat-x; 
}


.replenishment{
  text-transform: inherit;
}
span.form_actor-name{
  font-size: 18px;
  font-weight: 100;
  margin: 10px;
}

.input_teg {
 WIDTH: 100%;
 border-width: 1 1 1 1;
 border-style: solid;
 border-color: #707070;
}

.list-group li.cat_group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  flex-wrap: wrap;
}
.list-group li.cat_group:hover{
  background-color: #cce5ff;
}
.cat_group i{
  color: #777;
}
.tabl_meta {
      border-width: 0 1 1 0;
      border-style: solid;
      border-color: #4e83c2;
      padding: 5 5 5 5;
}
.tabl1_meta {
      border-width: 1 0 0 1;
      border-style: solid;
      border-color: #4e83c2;
      padding: 5 5 5 5;
}

.group-title{
  margin-top: 15px;
  list-style: none;
}
p.category-title{
  padding-left: 0;
  color: #057ee6;
}
.category_item{
  padding-right: 10px;
  margin-left: 10px;
  padding-left: 1.15rem;
  font-size: 13px;
}
.category_item .custom-control-label{
  line-height: 2;
}
.categories_list{

}

#category_search-result{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 2;
  background: #fafafa;
  width: 100%;
}

#category_search-result li{
  width: 45%;
}

.users { 
      color: #22229c;
      text-decoration : none; 
}
a.users:hover { 
      color: #22229c; 
      text-decoration : underline; 
}
.hidden{
  display: none;
}
.block{
  display: block;
}
.bullsite {
 color: #00e000;
 font-size:17px;
}
.struct_site { color: #000000;}
.viev_on_site { color: #989898;}
.alert p{
  font-size: 14px;
}
.masterBox .user_statistic-info{
  display: none;
}
.user_statistic-info h5{
  margin-left: 15px;
}
.nav_cnt { font-size: 11px; font-weight: normal; color: #22229c; text-decoration: none;}
.nav_cnt_sel { font-size: 11px; font-weight: normal; color: #000000; text-decoration: none}

.clear {
  clear: both;
}

.adminmainhref {
  display: block;
  background: #ffffff;
  padding: 8px 5px 8px 25px;
  font-weight: normal;
  margin: 0px 0 0px 0;
  text-decoration: none; 
  background: #044040;
  color: #fffefe;
}
.useradmin {
  background: url(/admin/img/admin.gif) 2px 3px no-repeat #ffffff;
  padding: 5px 5px 5px 25px;
  font-weight: bold;
}
.adminmainpadproducts {
  padding: 10px;
  background: #ffffff;
}

.adminmainpad, 
.adminmainpadsmall {
  font-weight: normal;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  color: #fff;
  text-shadow: 1px 1px 1px #ffffff;
  display: block;
  padding: 10px 10px 10px 20px;
  background: #9bd667;
  background-image: -webkit-linear-gradient(top, #6e9c74, #71a047);
  background-image: -moz-linear-gradient(top, #6e9c74, #71a047);
  background-image: -ms-linear-gradient(top, #6e9c74, #71a047);
  background-image: -o-linear-gradient(top, #6e9c74, #71a047);
  background-image: linear-gradient(to bottom, #6e9c74, #71a047);
  border-bottom: 1px solid #cccccc;
}

.adminmainpads {
  font-weight: bold;
  background: #6e9c74;
  color: #000000;
  text-shadow: 1px 1px 1px #aaaaaa;  
}
.adminmainpad:hover, .adminmainpadsmall:hover {
  cursor: pointer;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  background: #328cc0;
  background-image: -webkit-linear-gradient(top, #328cc0, #28719a);
  background-image: -moz-linear-gradient(top, #328cc0, #28719a);
  background-image: -ms-linear-gradient(top, #328cc0, #28719a);
  background-image: -o-linear-gradient(top, #328cc0, #28719a);
  background-image: linear-gradient(to bottom, #328cc0, #28719a);
}
.redadminpad {
  background: #dd8888;
  background-image: -webkit-linear-gradient(top, #dd8888, #94a7b3);
  background-image: -moz-linear-gradient(top, #dd8888, #94a7b3);
  background-image: -ms-linear-gradient(top, #dd8888, #94a7b3);
  background-image: -o-linear-gradient(top, #dd8888, #94a7b3);
  background-image: linear-gradient(to bottom, #dd8888, #94a7b3);
  
}
.adminmainpadsmall {
  font-weight: normal;
  background: #6e9c74;
  text-shadow: 1px 1px 1px #999999;
  color: #444444;
  
}
.adminmainpadssmalls {
  background: #6e9c74;
  color: #000000;
  text-shadow: 1px 1px 1px #aaaaaa;  
}
.adminadd {
  background: url('/admin/img/folder_add.gif') 0 3px no-repeat;
  padding: 5px 5px 5px 25px;
  font-weight: bold;
  display: block;
}
.topway {
  background: url('/admin/img/folder.gif') 0 3px no-repeat;
  padding: 5px 5px 5px 20px;
  border-bottom: 2px solid #8698BB;
  margin: 0;
}

#collectioncolors {
  background: #ffffff;
  border: 2px solid #aaaaaa;
  display: none;
  position: absolute;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1111;
  padding: 10px 20px 20px 20px;
  width: 510px;
  left: 50%;
  margin-left: -250px;
}
.closew {
  float: right;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;

}
.colorselector {
  background: #efefff;
  width: 510px;
  height: 150px;
  border: 2px solid #cccccc;
  margin: 0px 0 10px 0;
  clear: both;
}
.colorselector:hover {
  background: #eeeeee;
}
.colorselectorimg {
  float: left;
  width: 130px;
  height: 110px
}
.colorselectorimg IMG{
  margin: 5px;
}
.colorselectorrows {
  float: left;
  width: 370px;
  height: 100px;
  padding: 5px;
}
.colorselectorrows .row1 {
  float: left;
  width: 90px;
  height: 30px;
}
.colorselectorrows .row2 {
  float: left;
  width: 280px;
  height: 30px;
}

.colorselectorrows .row2 INPUT[type=button] {
 margin: 0 0 0 10px;
 border: 1px solid #cccccc;
}

.checkrowadmin {
  width: 200px;
  float: left;
}
.pad, .pad_s {
  background-color: #f0ffff;
  color : #415AB4;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #cccccc;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  text-decoration : none; 
  font-size: 14px;
  text-shadow: 1px 1px 1px #cccccc;
  color: #000000;

  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.pad_s, .pad:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  background: #328cc0;
  background-image: -webkit-linear-gradient(top, #328cc0, #28719a);
  background-image: -moz-linear-gradient(top, #328cc0, #28719a);
  background-image: -ms-linear-gradient(top, #328cc0, #28719a);
  background-image: -o-linear-gradient(top, #328cc0, #28719a);
  background-image: linear-gradient(to bottom, #328cc0, #28719a);

}
.bordereddiv {
  border: 1px solid #cccccc;
  padding: 5px;
  background: #e6eaed;
}
.listtable {
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0 10px 0;
}
.listtable TR TH, .editortable TR TH {
  color : #000000;
  font-weight: bold;
  background: #b0bec7;
  background-image: -webkit-linear-gradient(top, #b0bec7, #94a7b3);
  background-image: -moz-linear-gradient(top, #b0bec7, #94a7b3);
  background-image: -ms-linear-gradient(top, #b0bec7, #94a7b3);
  background-image: -o-linear-gradient(top, #b0bec7, #94a7b3);
  background-image: linear-gradient(to bottom, #b0bec7, #94a7b3);
  padding: 5px 3px 5px 3px;
  font-size: 13px;
  font-weight: 400;
}
.listtable TR TH:first-child, .editortable TR TH:first-child {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}
.listtable TR TH:last-child, .editortable TR TH:last-child {
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}
.listtable TR TD {
  padding: 3px;
  border-bottom: 1px dotted #aaaaaa;
}
.listtable TR:hover TD {
  background: #ffffff;
}
.editortable {
  width: 100%;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0 10px 0;
}
.editortable TR TD {
  padding: 4px;
  margin: 0px;
}
.editortable TR TD:first-child {
  background: #f5f5f5;
  width: 200px;
}
.editortable TR TD:last-child {
  background: #f0f0f4;
}

.bg_line1 {
    color : #000000;
    font-weight: bold;
    background-image: URL(../admin/img/bg_line1.gif) !important;
    background-position: top left;
    background-repeat: repeat-x; 
}
.bg_line3 {
    color : #0b3660;
    font-weight: bold;
    font-size : 13px;
    background-image: URL(/admin/img/bg_line3.gif) !important;
    background-position: top left;
    background-repeat: repeat-x; 
    text-align: center;
    vertical-align: middle;
}

.galphoto {
  border: 1px solid #aaaaaa;
  background: #ffffff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 10px;
}
.galphoto .previmg {
  width: 109px;
  height: 120px;
  margin: 0px;
  padding: 5px;
  float: left;
  position: relative;
}
.galphoto .previmg:hover {
  background: #efefff;
}
.galphoto .previmg .deleteimg {
  width: 16px;
  height: 16px;
  background: url('/admin/img/exit.gif') 0 0 no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
input[type="button"] {
  margin: 10px;
  border:0;
  background: #a0a0a0;
  background-image: -webkit-linear-gradient(top, #a0a0a0, #707070);
  background-image: -moz-linear-gradient(top, #a0a0a0, #707070);
  background-image: -ms-linear-gradient(top, #a0a0a0, #707070);
  background-image: -o-linear-gradient(top, #a0a0a0, #707070);
  background-image: linear-gradient(to bottom, #a0a0a0, #707070);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
  cursor: pointer;

}
input[type="button"]:hover {
  background: #a0a0a0;
}

.formaction input[type="button"] {
  margin: 0 0 5px 0;
}
.formaction input[type="text"] {
  margin: 0 5px 5px 0;
  width: 100px;
}
input[type="submit"] {
  margin: 10px;
  border:0;
  background: #00ad0c;
  background-image: -webkit-linear-gradient(top, #00ad0c, #004405);
  background-image: -moz-linear-gradient(top, #00ad0c, #004405);
  background-image: -ms-linear-gradient(top, #00ad0c, #004405);
  background-image: -o-linear-gradient(top, #00ad0c, #004405);
  background-image: linear-gradient(to bottom, #00ad0c, #004405);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
  cursor: pointer;
}
input[type="submit"]:hover {
  background: #00ad0c;
}
.loginbg {
  /*background: url(/admin/img/loginbg.jpg) 50% 50% no-repeat;*/
  background-size: cover;
  width: 100%;
  height: 100%;
}
.login {
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -85px 0 0 -100px;
  width: 200px;
  height: 170px;
  border: 3px solid #c0c0c0; 
  padding: 10px;
  background: #e6e7ec;
  -webkit-box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.login h1 {
  margin: 0 0 10px 0;
}

.login input[type=text], .login input[type=password] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 25px;
  padding: 0 0 0 10px;
  width: 190px;
}
.login input[type=submit] {
  margin: 0 0 0 0;
}
#divrazdel {
  padding: 0;
  margin: 0;
  list-style: none;
}
.tableline {
  clear: both;
  border: 1px dotted #cccccc;
  padding: 5px;
  width: 700px;
  min-height: 25px;
  background: #f5f5f5;
  margin: 1px 0 0 0;
}
.tablelineontop {
  z-index: 9999;
  border: 1px solid #044040;
}
.tableline:nth-child(2n+2) {
  background: #e4f0f4;
}
.tableline:hover {
  background: #f4f4e4;
}

.tableline .movingico {
  display: block;
  width: 30px;
  height: 50px;
  top: 0;
  bottom: 0;
  background: url(/admin/img/move.png) 50% 50% no-repeat;
  float: left;
  cursor: move;
}
.tableline:hover .movingico {
  background: url(/admin/img/moves.png) 50% 50% no-repeat;
}
.tablelinesort:hover {
  cursor: move;
  opacity: 0.5;
}
.sortable-placeholder {
  background: #f0f0f0;
  width: 100%;
  border: 1px dashed #ccc;
  margin: 6px 0 6px 0;
  height: 50px;
}
.tableline .tablelinename {
  width: 500px;
  top: 0;
  bottom: 0;
  float: left;
}
.tableline .tablelinetype {
  width: 150px;
  top: 0;
  bottom: 0;
  float: left;
}
.tableline .tablelineedit {
  width: 20px;
  top: 0;
  bottom: 0;
  float: left;
  height: 100%;
}

.backbutton {
  float: right;
}
.externalrazdellink {
  display: inline-block;
  margin: 0px 0 0px 20px;
}
.razdlink {
  margin: 10px 0 0px 0;
}
.razdlink2 {
  margin: 3px 0 0px 0;
  float: right;
}
.razdname {
  font-weight: bold;
  font-size: 16px;
}
.delico {
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 2px 5px 2px 5px;
  -webkit-box-shadow: 1px 1px 2px 0px #cecece;
  -moz-box-shadow: 1px 1px 2px 0px #cecece;
  box-shadow: 1px 1px 2px 0px #cecece;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 11px;
  cursor: pointer;
  color: #000000;
  text-shadow: 1px 1px 1px #ffffff;
  background: #b0bec7;
  background-image: -webkit-linear-gradient(top, #b0bec7, #94a7b3);
  background-image: -moz-linear-gradient(top, #b0bec7, #94a7b3);
  background-image: -ms-linear-gradient(top, #b0bec7, #94a7b3);
  background-image: -o-linear-gradient(top, #b0bec7, #94a7b3);
  background-image: linear-gradient(to bottom, #b0bec7, #94a7b3);
//  background: url(/admin/img/rem.png) 50% 50% no-repeat;
}

.delico:hover {
  cursor: pointer;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  background: #328cc0;
  background-image: -webkit-linear-gradient(top, #328cc0, #28719a);
  background-image: -moz-linear-gradient(top, #328cc0, #28719a);
  background-image: -ms-linear-gradient(top, #328cc0, #28719a);
  background-image: -o-linear-gradient(top, #328cc0, #28719a);
  background-image: linear-gradient(to bottom, #328cc0, #28719a);
}
.smallimginlist {
  float: left;
  width: 180px;
  height: 230px;
  margin: 10px;
  text-align:center;
  padding: 5px;
  background: #fff0f0;

}
.sinfoservices {
  -webkit-column-count:4;  
    -moz-column-count:4;  
    column-count:4;
    -moz-column-rule: 1px solid #e5e5e5;  
    -webkit-column-rule: 1px solid #e5e5e5;  
    column-rule: 1px solid #e5e5e5; 
    -webkit-column-gap: 1px;  
    -moz-column-gap: 1px;  
    column-gap: 1px;  
  column-fill: auto;
}
.sinfoservices .servblock {
   /* Old browsers */
  padding: 10px 10px 10px 20px;
  border-top: 1px solid #e5e5e5;
  break-inside: avoid-column;
  font-weight: normal;
}
.sinfoservices .servblock P {
  padding: 0 0 5px 0;
  margin: 0;
  font-weight: bold;
}

ul.langselector {
  list-style-type: none;
  padding: 0;
  margin: 5px;
  border: 1px solid #cecece; 
  display: inline-block;
  
}
ul.langselector li {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background: #cecece;
  -webkit-box-shadow: 2px 2px 5px 0px #cecece;
  -moz-box-shadow: 2px 2px 5px 0px #cecece;
  box-shadow: 2px 2px 5px 0px #cecece;
}
ul.langselector li.selected {
  display: inline-block;
  padding: 5px;
  background: #decece;
  font-weight: bold;
}


.btn-copywriter-info{
  margin: 0;
  padding: 2px 5px;
  background: green;
  border: 1px solid black;
}

li.category_item-65,
li.category_item-32,
li.category_item-49,
li.category_item-240,
li.category_item-299,
li.category_item-300,
li.category_item-301,
li.category_item-302,
li.category_item-303,
li.category_item-304,
li.category_item-305,
li.category_item-306,
li.category_item-307,
li.category_item-308,
li.category_item-309,
li.category_item-310,
li.category_item-311,
li.category_item-312,
li.category_item-313
{
  display: none;
}

.scrollToTop{
  display: block;
  width: 45px;
  height: 51px;
  z-index: 2;
  text-align: center;
  right: 50px;
  cursor: pointer;
  bottom: 20px;
  position: fixed;
  font-size: 36px;
}

.site-editor .card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-editor .card-header .progress{
  padding: 0;
}
.add-varidable{
  height: 45px;
}

.varidable-fild{
  margin-right: 15px;
  width: 23%;
  -ms-align-items: center;
  align-items: center;
  border: solid 1px #007bff;
  padding: 0 5px;
  position: relative;
  height: 45px;
  margin-bottom: 10px;
}
.varidable-container{
  flex-wrap: wrap;
}
.varidable-fild input{
  height: 25px;
  font-size: 14px;
  padding-left: 5px;
}
.varidable-fild .varidable-name{
  width: 47%;
  margin-right: 5px;
  background: #efe4e4;
}
.category_item strong{
  font-size: 16px;
}
.category_item > .custom-checkbox{
  margin-right: 10px;
}

.site_page-btn{
    background: transparent;
    padding: 0;
}
.site_page-btn i{
  
}
.site_page-btn .site_page-name{
  margin: 0 10px;
}
.site_page-btn .site_page-name input{
  width: 150px;
}
.site_page-btn .badge-info{
  font-weight: 100;
}
.site_page-btn:focus, .site_page-btn:active{
  outline: none !important;
  box-shadow: none !important;
}
.new-element{
  margin-top: 20px;
}
.preloader{
  position: fixed;
  right: 0;
  z-index: 999;
  background-color: rgb(223, 223, 223);
  top: 0;
  width: 87%;
  height: 100%;
  display: none;
}
.preloader-image{
  background: url(../img/preloader-monki.gif) no-repeat center / contain;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  margin-top: calc(50vh - 200px);
}
.hide-user{
  display: none;
}

span.user-login-btn {margin: auto;text-align: center; border: 1px solid #379649;width: 100%;display: block;padding: 10px;border-radius: 4px;margin-bottom: 5px;}

.cat_item, .tag_item {
    border: 1px solid #4b76c3;
    padding: 0px 5px;
    background: #cce5d2;
    margin: 2px;
    display: inline-block;
}

.tag_item {
    border: 1px solid #807f7f;
    background: #e9ecef;
}